*{
  color: white;
}
body {
  padding-top: 10px;
/* background-image:url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=355&q=80");
 background-image:url("https://images.unsplash.com/photo-1549834146-0702b38f1bed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
 background-image:url("https://images.unsplash.com/photo-1581985673473-0784a7a44e39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");*/
/*  background-image:url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");*/
  background-image: url("https://images.pexels.com/photos/3435249/pexels-photo-3435249.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;


}
.error {color: #FF0000;}
form{

  font-size: 18px;
  font-weight:400;
}
.submit{
  color:black;
}
input[type=text]{
  border-radius: 4px;
  padding:2px;
}

textarea{
  border-radius: 4px;
}
textarea:focus{
  background-color: lightblue;
}
input[type=date]{
  border-radius: 4px;
  padding:2px;
}
input[type=submit]{
  border-radius: 4px;
  padding:4px;
}
input[type=text]:focus{
  background-color: lightblue;
}
input[type=date]:focus{
  background-color: lightblue;
}input[type=submit]:focus{
  background-color: lightgreen;
}
